// Size
@mixin make-size($width, $height) {
  width: $width;
  height: $height;
}

// @mixin square($size) {
//   @include size($size, $size);
// }

// Background-size
@mixin background-size($width, $height) {
  -webkit-background-size: $width, $height;
     -moz-background-size: $width, $height;
        background-size: $width, $height;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

/* Usage */
/* 
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// HiDPI
$is-hidpi : "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)";

@mixin retinize($file, $type, $width, $height) {
  background-image: url('/images/' + $file + '.' + $type);

  @media #{$is-hidpi} {
    & {
      background-image: url('/images/' + $file + '@2x.' + $type);
      @include background-size($width, $height);
    }
  }
}

// Uppercase text
@mixin uppercase() {
  text-transform: uppercase;
  letter-spacing: .05em;
}

@mixin lien_style() {
  color:$couleur-lien;
  text-decoration: none;
  &:hover {
    color:#000;
  }
}

@mixin destroy_button($left, $top){
  position: relative;
  .btn-destroy{
    z-index: 100;
    position: absolute;
    left: $left;
    top: $top;
    border-radius: 50%;
    display: none;
  }
  &:hover{
    .btn-destroy{
      display: block;
    }
  }
}
