
// Body
$body-bg: #180E0D;

// Typography
$font-family-sans-serif: sans-serif, arial;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Brands
$blue: #002FA7;
$cyan: #3097D1;//#8eb4cb
$green: #63A375;
$yellow: #FF6B35;//#cbb956
$red: #DA4167;//#EF476F;//#bf5329

//#EDF7F6, #EBEBEB, #E7ECEF

$white: #FDFFFC;
$sable: lighten(#FFFF82, 10%);
$light-gray:#a3a3a3;
$dark-gray:#25313F;
$light-black:#232729;

$spacer: 2rem;
$margin-base: 1.5rem;
$text-color: #fff;//#636b6f;
